.App {
  width: 75vw;
  max-width: 1140px;
  margin: auto;
  height: inherit;
}

.buttonStyle {
  margin: "10px 10px 10px 10px";
  color: #f6fbfb;
  background-color: #2295a2;
}

.formInputStyle {
  color: #124e54;
}

.navbar-brand {
  min-width: 20%;
}

@media (min-width: 700px) {
  .navbar-brand {
    width: auto;
  }
}
