@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #fff;
  display: flex;
  min-height: 100vh;
  font-weight: 400;
  font-family: "Ubuntu", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 500;
  font-family: "Alegreya Sans", Arial, sans-serif;
  color: #124e54;
}

h1 {
  font-size: 24pt;
}
h2 {
  font-size: 18pt;
}
h3,
h4,
h5,
h6 {
  font-size: 12pt;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
}

.navbar,
.footer {
  background-color: #f6fbfb;
  width: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 100%;
  /* margin: auto; */
  background: #fffcf5;
  padding: 40px 25px 45px 25px;
  border-radius: 15px;
  transition: all 0.3s;
}

/* @media only screen and (max-width: 600px) {
  .auth-inner {
    width: 100vw;
  }
} */

.auth-wrapper .form-control:focus {
  border-color: #2295a2;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #2295a2;
}

.footer {
  border-top: 2px solid #124E54;
}
