{% load static %}
<html>
    <head>
        <title>Trending Articles</title>

        <!-- <link href="{{ STATIC_URL }} /static/css/bootstrap.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }} /static/css/frontpage.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js"></script>
        <!-- <script src="{{ STATIC_URL }} /static/bootstrap.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

       <h1>Start</h1>

    </body>
</html>
