@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap");

.form {
  font-family: "Alegreya Sans", Arial, sans-serif;
  margin-top: 2rem;
}

.form__desc {
  color: #124e54;
  font-size: 1rem;
}

.form label {
  color: #124e54;
}

.form__error-message {
  color: red;
}


.directory-form {
  color: #124e54;
  margin-left: calc(-85vw / 2 + 450px / 2);
  /* margin-right: calc(-50vw / 2 + 450px / 2); */
	margin-top: -2.5em;
  margin-bottom: -2.5em;
	background: #FFFCF5;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 40px 55px 45px 55px;
	border-radius: 15px;
  position: absolute;
	transition: all 0.3s;
  width: 75vw;
  max-width: 2000px;
}

@media only screen and (max-width: 900px) {
  .directory-form {
    margin-left: calc(-100vw / 2 + 450px / 2);
    margin-right: 0;
    width: 75vw;
  }
}

@media only screen and (max-width: 600px) {
    .directory-form {
      margin: -2.5em -3.5em;
      width: 100vw;
    }
  }

/* Styles copied from Bootstrap */
.form input,
.form select,
.form textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #124E54;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #C7E4E7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form textarea {
  height: 6rem;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  border-color: #2295A2;
  box-shadow: none;
  outline: 0;
}

.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form input:focus::placeholder,
.form select:focus::placeholder,
.form textarea:focus::placeholder {
  color: #495057;
}

.form input[type="submit"] {
  color: #f6fbfb;
  background-color: #2295a2;
}

.form input[type="submit"]:focus {
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.required:after {
  color: red;
  content: " *";
}
