.map-container {
  background: #fffcf5;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  color: #124e54;
  height: calc(100vh - 10.5rem);
  left: 0.25rem;
  margin-top: -2.5em;
  margin-bottom: -2.5em;
  position: absolute;
  transition: all 0.3s;
  width: 97vw;
}

.map-container h1 {
  margin: 1rem 55px 1rem 55px;
}
