.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional overlay */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
  }


/* .modal-content{
    background-color: #fffcf5;
    width: 800px;
} */


/* light blue background #f6fbfb */
/* dark blue text #67afbc*/
/* tan backgroud #fffcf5 */
/* larger dark text #144f56 */
